/data/all_synthetic_motions_velocities_effort.csv
/data/organized_synthetic_data_100.npy
/data/organized_synthetic_data_velocities_100.npy
/data/organized_synthetic_data_velocities_only_100.npy
/data/organized_synthetic_labels_100.npy
/logs
/data/cmu_motions/